.button-row{
	clear:both;
}
table.score-form th{
	padding:5px;
	
}
table.score-form  input[disabled], table.score-form  input[readonly]{
	border:none;
}
table.score-form tr td:first-child {
	padding:5px;

}
table.complication td,table.complication th, table.usg td,table.usg th {
	padding:5px;
}
table.MaternalAntibiotics td, table.vaccine td {
	padding:5px 5px 5px 0px;
}

table.medi td,table.medi th,table.delivery th,table.delivery td,table.form-group td, table.form-group th, table.gravida td,table.gravida th{
	padding:5px;
}
.gpla .col-md-2{
	padding-left:4px;
}
.medi,.MaternalAntibiotics{
   width:100%;
}
.medi + .medi_add .gravida + .gravida_add{
	margin-right:12px;
}
#apgarform table td,#apgarform table th{
	padding:2px;
}
table.drugs td,table.drugs th{
	padding:2px;
}
#historyform .medi + .medi_add,.usg + .usg_add,.complication + .complication_add, .gravida + .gravida_add{
	margin-left:4px;
}
@media print {
  @page { margin: 0; padding: 1.6cm; }
}
  /*body.print { margin: 1cm; }*/
  .col-print-2{
		float:left;
		width:45%;
  }
  body.print .form-group{
  	clear:both;
	margin:10px 0;
  }

 
 .page-break{
	   display:block;
	   page-break-after: auto;
  }

   .page-break-always{
	   page-break-before:always !important;
  }
  body.print .content-block{
	 position: relative;
     margin-top:30px;
	 display:block;
	 float:left;
	 width:100%;
	 padding:5px 15px;
	 border:1px solid #000;
	 page-break-after:auto;
	 page-break-inside:avoid;
	 height:auto !important;
 }
   body.print .content-block1{
	 position: relative;
     margin-top:40px;
	 display:block;
	 float:left;
	 width:100%;
	 padding:15px;
	 border:1px solid #000;
	 page-break-inside:avoid;
	 height:auto !important;   
   }
.print-head{
	text-align:center;
}
.print-label{
	float:left;
	margin: 0px 0px 10px 10px;
	width:200px;	
}
.col-print-3{
	float:left;
	width:33%;
}
.col-print-3 .print-label{
	margin: 0px 0px 10px 10px;
	float:left;
	width: 200px;	
}
.print table td,.print table th{
	padding:5px 10px !important;

}
.form-group span{
	font-weight:bold;

}

/* table.dataTable tbody td{
	padding:10px 18px;
}
*/
/* New theme */
.modal-title{
	display:inline-block;
	float:left;
	color:#000;
	font-size:18px;
}
.modal-body{
	padding:0;
}
.bootbox .modal-body{
	padding:20px;
}
.modal-body p{
	color:#000;
	font-size:14px;
	font-weight:bold;
}
.modal-body p span{
	 color:#000000;
	 font-weight:normal;
}
.btn i + span{
	margin-left:4px;
}
.btn  span + i{
	margin-left:4px;
}
.search-results a + a{
	margin-left:10px;
	margin-right:10px;
}
.sidebar-right{
	display:none;
	overflow-y:auto;
}   
@media (min-width: 992px) {
  .sidebar-right{
	  display:block;
	  /*position:fixed  !important;*/
	  right:0;
	  left:auto;
	  top:52px;
	  width:240px;
	  padding:0px 15px;
	  height:100%;	  
  }  
}
@media (min-width: 1200px) {
  .sidebar-right{
	  width:280px;
  }   
}
.btn_add, .remove-medi{
	margin-left:4px;
	/*margin-bottom:6px;*/
}

@media (max-width: 767px) {
	.btn-block{
		margin:10px 0px;
	}
}
.multi-row td,.multi-row th{
	padding:5px;
}

/* Ballard score images */
.score-select{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    /*width: 79px;
    height: 58px;*/
    /* line-height: 36px; */
    border: 2px solid #fff;
}
.score-select.active{
	border-color:#09C;
}
#neuroform th,#physcialform th{
	text-align:center;
}
/*#physcialform .score-select{
	width:84px;
	height:54px;
}
#Posture0{
	background:url(../img/ballard_score.png) -88px -4px no-repeat;
}
#Posture1{
	background:url(../img/ballard_score.png) -173px -4px no-repeat;
}
#Posture2{
	background:url(../img/ballard_score.png) -259px -4px no-repeat;
}
#Posture3{
	background:url(../img/ballard_score.png) -346px -4px no-repeat;
}
#Posture4{
	background:url(../img/ballard_score.png) -432px -4px no-repeat;
}
#Posture5{
}
#SquareWindow-1{
	background:url(../img/ballard_score.png) -2px -62px no-repeat;	
}
#SquareWindow0{
	background:url(../img/ballard_score.png) -88px -62px no-repeat;
}
#SquareWindow1{
	background:url(../img/ballard_score.png) -173px -62px no-repeat;
}
#SquareWindow2{
	background:url(../img/ballard_score.png) -259px -62px no-repeat;
}
#SquareWindow3{
	background:url(../img/ballard_score.png) -346px -62px no-repeat;
}
#SquareWindow4{
	background:url(../img/ballard_score.png) -432px -62px no-repeat;
}
#SquareWindow5{
	background:url(../img/ballard_score.png) -518px -62px no-repeat;	
}
#ArmRecoil-1{
	background:url(../img/ballard_score.png) -2px -122px no-repeat;	
}
#ArmRecoil0{
	background:url(../img/ballard_score.png) -88px -122px no-repeat;
}
#ArmRecoil1{
	background:url(../img/ballard_score.png) -173px -122px no-repeat;
}
#ArmRecoil2{
	background:url(../img/ballard_score.png) -259px -122px no-repeat;
}
#ArmRecoil3{
	background:url(../img/ballard_score.png) -346px -122px no-repeat;
}
#ArmRecoil4{
	background:url(../img/ballard_score.png) -432px -122px no-repeat;
}
#ArmRecoil5{
	background:url(../img/ballard_score.png) -518px -122px no-repeat;
}

#PoplitealAngle-1{
	background:url(../img/ballard_score.png) -2px -182px no-repeat;	
}
#PoplitealAngle0{
	background:url(../img/ballard_score.png) -88px -182px no-repeat;
}
#PoplitealAngle1{
	background:url(../img/ballard_score.png) -173px -182px no-repeat;
}
#PoplitealAngle2{
	background:url(../img/ballard_score.png) -259px -182px no-repeat;
}
#PoplitealAngle3{
	background:url(../img/ballard_score.png) -346px -182px no-repeat;
}
#PoplitealAngle4{
	background:url(../img/ballard_score.png) -432px -182px no-repeat;
}
#PoplitealAngle5{
	background:url(../img/ballard_score.png) -518px -182px no-repeat;
}

#ScarfSign-1{
	background:url(../img/ballard_score.png) -2px -242px no-repeat;	
}
#ScarfSign0{
	background:url(../img/ballard_score.png) -88px -242px no-repeat;
}
#ScarfSign1{
	background:url(../img/ballard_score.png) -173px -242px no-repeat;
}
#ScarfSign2{
	background:url(../img/ballard_score.png) -259px -242px no-repeat;
}
#ScarfSign3{
	background:url(../img/ballard_score.png) -346px -242px no-repeat;
}
#ScarfSign4{
	background:url(../img/ballard_score.png) -432px -242px no-repeat;
}
#ScarfSign5{
	background:url(../img/ballard_score.png) -518px -242px no-repeat;
}


#HeelEar-1{
	background:url(../img/ballard_score.png) -2px -302px no-repeat;	
}
#HeelEar0{
	background:url(../img/ballard_score.png) -88px -302px no-repeat;
}
#HeelEar1{
	background:url(../img/ballard_score.png) -173px -302px no-repeat;
}
#HeelEar2{
	background:url(../img/ballard_score.png) -259px -302px no-repeat;
}
#HeelEar3{
	background:url(../img/ballard_score.png) -346px -302px no-repeat;
}
#HeelEar4{
	background:url(../img/ballard_score.png) -432px -302px no-repeat;
}
#HeelEar5{
	background:url(../img/ballard_score.png) -518px -302px no-repeat;
}
/* Physical structure images *
#Skin-1{
	background:url(../img/physical_score.png) 0px -2px no-repeat;	
}
#Skin0{
	background:url(../img/physical_score.png) -88px -2px no-repeat;
}
#Skin1{
	background:url(../img/physical_score.png) -174px -2px no-repeat;
}
#Skin2{
	background:url(../img/physical_score.png) -260px -2px no-repeat;
}
#Skin3{
	background:url(../img/physical_score.png) -350px -2px no-repeat;
}
#Skin4{
	background:url(../img/physical_score.png) -434px -2px no-repeat;
}
#Skin5{
	background:url(../img/physical_score.png) -520px -2px no-repeat;	
}

#Lanugo-1{
	background:url(../img/physical_score.png) 0px -62px no-repeat;	
}
#Lanugo0{
	background:url(../img/physical_score.png) -88px -62px no-repeat;
}
#Lanugo1{
	background:url(../img/physical_score.png) -174px -62px no-repeat;
}
#Lanugo2{
	background:url(../img/physical_score.png) -260px -62px no-repeat;
}
#Lanugo3{
	background:url(../img/physical_score.png) -350px -62px no-repeat;
}
#Lanugo4{
	background:url(../img/physical_score.png) -434px -62px no-repeat;
}
#Lanugo5{
	background:url(../img/physical_score.png) -520px -62px no-repeat;	
}

#PlantarSurface-1{
	background:url(../img/physical_score.png) 0px -122px no-repeat;	
}
#PlantarSurface0{
	background:url(../img/physical_score.png) -88px -122px no-repeat;
}
#PlantarSurface1{
	background:url(../img/physical_score.png) -174px -122px no-repeat;
}
#PlantarSurface2{
	background:url(../img/physical_score.png) -260px -122px no-repeat;
}
#PlantarSurface3{
	background:url(../img/physical_score.png) -350px -122px no-repeat;
}
#PlantarSurface4{
	background:url(../img/physical_score.png) -434px -122px no-repeat;
}
#PlantarSurface5{
	background:url(../img/physical_score.png) -520px -122px no-repeat;	
}

#Breast-1{
	background:url(../img/physical_score.png) 0px -182px no-repeat;	
}
#Breast0{
	background:url(../img/physical_score.png) -88px -182px no-repeat;
}
#Breast1{
	background:url(../img/physical_score.png) -174px -182px no-repeat;
}
#Breast2{
	background:url(../img/physical_score.png) -260px -182px no-repeat;
}
#Breast3{
	background:url(../img/physical_score.png) -350px -182px no-repeat;
}
#Breast4{
	background:url(../img/physical_score.png) -434px -182px no-repeat;
}
#Breast5{
	background:url(../img/physical_score.png) -520px -182px no-repeat;	
}

#EyeEar-1{
	background:url(../img/physical_score.png) 0px -242px no-repeat;	
}
#EyeEar0{
	background:url(../img/physical_score.png) -88px -242px no-repeat;
}
#EyeEar1{
	background:url(../img/physical_score.png) -174px -242px no-repeat;
}
#EyeEar2{
	background:url(../img/physical_score.png) -260px -242px no-repeat;
}
#EyeEar3{
	background:url(../img/physical_score.png) -350px -242px no-repeat;
}
#EyeEar4{
	background:url(../img/physical_score.png) -434px -242px no-repeat;
}
#EyeEar5{
	background:url(../img/physical_score.png) -520px -242px no-repeat;	
}
#Genitals-1{
	background:url(../img/physical_score.png) 0px -302px no-repeat;	
}
#Genitals0{
	background:url(../img/physical_score.png) -88px -302px no-repeat;
}
#Genitals1{
	background:url(../img/physical_score.png) -174px -302px no-repeat;
}
#Genitals2{
	background:url(../img/physical_score.png) -260px -302px no-repeat;
}
#Genitals3{
	background:url(../img/physical_score.png) -350px -302px no-repeat;
}
#Genitals4{
	background:url(../img/physical_score.png) -434px -302px no-repeat;
}
#Genitals5{
	background:url(../img/physical_score.png) -520px -302px no-repeat;	
}
#FGenitals-1{
	background:url(../img/physical_score.png) 0px -364px no-repeat;	
}
#FGenitals0{
	background:url(../img/physical_score.png) -88px -364px no-repeat;
}
#FGenitals1{
	background:url(../img/physical_score.png) -174px -364px no-repeat;
}
#FGenitals2{
	background:url(../img/physical_score.png) -260px -364px no-repeat;
}
#FGenitals3{
	background:url(../img/physical_score.png) -350px -364px no-repeat;
}
#FGenitals4{
	background:url(../img/physical_score.png) -434px -364px no-repeat;
}
#FGenitals5{
	background:url(../img/physical_score.png) -520px -364px no-repeat;	

}*/

.toggle{
        border-radius: 15px;
 }
 .select-free4{
 	
 }
 .col-print-4{
 	 float: left;
     width: 34%;
 }

.btn-group > .active{
 	background-color: #2F9AD3 !important;
 }
 .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
 .toggle.ios .toggle-handle { border-radius: 20px; }


.annual-report-content{
	margin-top: 5em;

}  
.annual-report-center{
	text-align: center;
}
.annual-page-break-confirm {
	display: block;
	page-break-before: always;
	page-break-inside: avoid;
}
.annual-page-break-auto {
	display: block;
	page-break-before: auto;
	page-break-inside: avoid;
}
.left-align{
	text-align:left;  
}
.format-content{

	border-top:0px !important;
}

.annualreports-abbreviations table tr td{
	width: 50%;
	text-align: left;
}
.annualreports-abbreviations table{
	margin: 2% 10% 5% 20%;
}

.annual-report-table th,.annual-report-table td {
	border: 1px solid ;
	width: 30%;
	text-align: center;
}
.index-table{
	margin-left: 200px;
}
 

.page-break-page{
	page-break-before: auto;
	page-break-inside: avoid;
}


.annual-report-page-size{

}	

.permission-module-main-div{
    margin-top: 30px;
}

.annual-report-table-common{
	width: 100%;

}

.annual-report-table-common th,.annual-report-table-common td{
     border: 1px solid ;
	 width: auto;
	 text-align: center;
}
.character-table{
	width: 100%
}
.character-table th,.character-table td{
     border: 1px solid ;
	 width: auto;
	 text-align: center;
}

.copyright-content{

	margin: 50px 50px !important;
	text-align: center;
}
.table-index{
	cursor: pointer;
}
.reset-search{
	position: relative;
    margin: 5px;
}
.reset-search .no-record{
    padding: 10px;
}
.search-list-active{
	background-color:#ddd !important;
}

.fields-search-list-sidebar {
    display: block;
    position: absolute;
    right: 0;
    left: auto;
    top: 50px;
    width: 25%;
    max-height: 94%;
    border: 1px solid #ddd;
    font-size: 12px;
    border-radius-bottom: 10px !important;
	box-shadow: 7px 7px 5px 6px rgba(0,0,0,0.4);
	margin-top: 5px;
 }
 .fields-search-list{
     border: 1px solid #ddd;
     padding: 10px;
 }
 .search-sidebar{
     float: right;
 }

.dashboard-op-list {
	max-height: 250px !important;
	overflow: auto;
}
.sidebar-scroll-enable {
	overflow-y: auto;
}
.infusion-rate-width{
	width: 45px;
}
.grid.horizontal {
    background:url(../img/ddst-chart-bg.jpg);
}
