body,.row {
	overflow-x: hidden;		
}
.container-fluid {
	padding-right: 32px;
}
.nurse-sheet .hour-wise-table {
	white-space: nowrap;
}
body.print .nurse-sheet .content-block {
    margin-top: 0px; 
    padding: 0px;
}
.nurse-sheet .table > thead > tr > th, .nurse-sheet .table > tbody > tr > th,
    .nurse-sheet .table > tfoot > tr > th, .nurse-sheet .table > thead > tr > td,
    .nurse-sheet .table > tbody >tr > td, .nurse-sheet .table > tfoot > tr > td {
	   	vertical-align: middle;
}
@media print {
	.output > .landscape,.observation > .landscape,.replacement > .landscape
		,.infusions > .landscape,.blood-value > .landscape,
		.milk-feeds > .landscape,.respiratory > .landscape {
		overflow-x: hidden !important;
	}
	.print table td, .print table th {
		padding: 5px 0 !important;
	}
	.antibiotic-drugs table th,.antibiotic-drugs table td,
		.entered table th, .entered table td {
		padding-left: 5px !important;
	}
    /*.temp-row {
        position: absolute;
        top: 0px;
    }*/
	/*.nurse-sheet .note > div {
		background-color: yellow !important;
	}*/
}
@media screen and (max-width: 1000px) {
	.container-fluid {
		padding-right: 0px !important;
	}
}
@media print and (orientation: landscape) {		
	body,.row {
		padding: 0;	
	}
	.nurse-sheet tbody td:first-child, .nurse-sheet thead th:first-child {
		position: unset !important;
		display: table-cell !important;
	}
	.nurse-sheet.chrome tbody td:nth-child(2),.nurse-sheet.chrome thead th:nth-child(2) {
		border-left: none !important;
	}
	.nurse-sheet table {
		border-left: none !important;
	}
	.nurse-sheet .portrait,.nurse-sheet .landscape-none {
		display: none;
	}
	.nurse-sheet .padding-tb {
		padding: 14px 0;
	}
	.nurse-sheet .new-line,.nurse-sheet .landscape-print {
		display: block;
	}
	.nurse-sheet .font-decrease {
		font-size: 0.9em;
	}
	.nurse-sheet .container-fluid {
		padding-right: 3mm;
	}	
	@page {
		margin: 6mm 0;
		margin-left: 2.6mm;
	}
	@page:first {
		margin-top: 0;
	}
}
@media print and (orientation: portrait) {
    body,.row {
		overflow: hidden !important;	
		padding: 0;	
	}
	.nurse-sheet tbody td:first-child, .nurse-sheet thead th:first-child {
		position: unset !important;
		display: table-cell !important;
	}
	.nurse-sheet.chrome tbody td:first-child,.nurse-sheet.chrome thead th:first-child {
		border-right: none !important;
		border-left: none !important;
	}
	.nurse-sheet.chrome tbody td:nth-child(2),.nurse-sheet.chrome thead th:nth-child(2) {
		border-left: 1px solid black !important;
	}
	.nurse-sheet table {
		border-left: 1px solid black !important;
	}
	.nurse-sheet .text-wrap {
	    white-space: nowrap !important;
	}	
	.nurse-sheet .rotate,.nurse-sheet .rotate-observations {
		font-size: 0.9em;
	}
	.nurse-sheet .landscape {
		display: none;
	}
	.nurse-sheet .padding-tb {
		padding: 22px 0;
	}		
	.nurse-sheet .table {
		margin-top: 15px;
		margin-bottom: 15px !important;
	}
	.nurse-sheet .note {
		padding-bottom: 0 !important;
	}	
	@page {
		margin: 6mm 4mm;
		margin-left: 5mm;		
	}
	@page:first {
		margin-top: 0;
	}
}
	
/*firfox*/

@-moz-document url-prefix() {
	.nurse-sheet table {
		border: 1px solid black !important;
	}
	@media print and (orientation: landscape) {
		@page {
			margin-left: 5mm;
			margin-right: 0;
		}
		.nurse-sheet .rotate {
			font-size: 0.7em;
		}
	}
	@media print and (orientation: portrait) {
		@page {
			margin-left: 4mm;
			margin-right: 0;
		}
	}
}