.vital-signs {
	width   : 100%;
    height  : 250px;
}

.ventilator-settings {
	width   : 100%;
    height  : 250px;
}
.over-text-align {

}
.join-line-settings {
	top: -22px;
	position: relative;
	left: -80px;
}

.date-list{
	position: relative;
	top: -32px;
	left: -68px;
	font-weight: bold;
	font-size: 16px;
}

.chart-cursor-settings {
	top: -19px;
	position: relative;
	left: -61px;
}

.overtext{
 	position: relative;
	top: -145px;
	color: #242222;
	font-weight: bold;
	text-align: center;
	z-index: 1030;
	box-shadow: 0px 19px 22px -9px rgba(0,0,0,0.4);
}

.overtext-ventilator{
 	position: relative;
	top: -145px;
	color: #242222;
	font-weight: bold;
	text-align: center;
	z-index: 1;
	/*box-shadow: 0px 19px 22px -9px rgba(0,0,0,0.4);*/
}
#single-unit-observetion {
	width   : 100%;
    height  : 800px;
}
.vital-signs-events{
	background-color:silver; 
	opacity: .9;
	cursor:pointer; 

}

.view,.selected-parameters {
	cursor:pointer; 
}
.active-sign {
	background-color:silver; 
	opacity: .9;
	cursor:pointer; 
}

.active-ventilator {
	background-color:silver; 
	opacity: .9;
	cursor:pointer; 
}

.active-flag {
        background-color:#5063ce; 
        color: white;
}
.vitals-loader{
    text-align: center;
	top: 80% !important;
    position: relative;
}

#start_date, #end_date, 
#ventilator_start_date, #ventilator_end_date, 
#blood_gas_start_date, #blood_gas_end_date {
        line-height: 20px
}
.symbols {
        background-color: red;
}

.chart-observation-modal .modal-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chart-observation-modal .modal-content {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.chart-observation-modal .modal-footer {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px;
}

.chart-observation-modal .modal-header .close {
  margin-top: -38px;
  font-size: 30px !important;
  margin-right: 23px;
}

.chart-observation-modal .modal-lg {
   width: 90%;
}

.chart-observation-modal .chart-set-one-one {
	width: 100%;
	height: 700px;
	overflow: hidden;
	text-align: left;
}

.chart-observation-modal .chart-set-two-one {
	width: 50%;
	height: 400px;
	overflow: hidden;
	text-align: left;
}  

.chart-observation-modal .chart-set-two-two {
	width: 50%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	left: 50%;
	position: relative;
} 



.chart-observation-modal .chart-set-three-one {
	width: 40%;
    height: 250px;
	overflow: hidden;
    text-align: left;
} 

.chart-observation-modal .chart-set-three-two {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	left: 30%;
	position: relative;

} 
.chart-observation-modal .chart-set-three-three {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	left: 60%;
} 


#vital-signs-chart-content, #ventilator-settings-content {
  text-align: center;
  top: 10px;
  position: relative;
  
}

.chart-observation-modal .chart-set-four-one {
	width: 40%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	float: left;
} 

.chart-observation-modal .chart-set-four-two {
	width: 40%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	left: 10%;
	position: relative;
	float: left;

} 

.chart-observation-modal .chart-set-four-three {
	width: 40%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
} 

.chart-observation-modal .chart-set-four-four {
	width: 40%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	left: 10%;
}



/*five start*/

.chart-observation-modal .chart-set-five-one {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	float: left;
} 

.chart-observation-modal .chart-set-five-two {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	left: 10%;
	position: relative;
	float: left;

} 

.chart-observation-modal .chart-set-five-three {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	left: 30%;
} 

.chart-observation-modal .chart-set-five-four {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
}

.chart-observation-modal .chart-set-five-five {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	left: 10%;
}
/*five end*/

.chart-observation-modal .modal-footer {
    border: none;
}
.chart-observation-modal .chart-fonts-style {
  font-weight: unset;
  font-family: initial;
  font-style: oblique;
}

.nurse-chart-sheet .chart-fonts-style {
  font-weight: unset;
  font-family: initial;
  font-style: oblique;
}

.chart-vendilator-modal .modal-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chart-vendilator-modal .modal-content {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.chart-vendilator-modal .modal-footer {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px;
}

.chart-vendilator-modal .modal-header .close {
  margin-top: -38px;
  font-size: 30px !important;
  margin-right: 23px;
}

.chart-vendilator-modal .modal-lg {
   width: 90%;
}

.chart-vendilator-modal .chart-set-one-one {
	width: 100%;
	height: 700px;
	overflow: hidden;
	text-align: left;
}

.chart-vendilator-modal .chart-set-two-one {
	width: 50%;
	height: 400px;
	overflow: hidden;
	text-align: left;
}  

.chart-vendilator-modal .chart-set-two-two {
	width: 50%;
	height: 400px;
	overflow: hidden;
	text-align: left;
	left: 50%;
	position: relative;
} 



.chart-vendilator-modal .chart-set-three-one {
	width: 40%;
    height: 250px;
	overflow: hidden;
    text-align: left;
} 

.chart-vendilator-modal .chart-set-three-two {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	left: 30%;
	position: relative;

} 
.chart-vendilator-modal .chart-set-three-three {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	left: 60%;
} 

.separate-view-container, .seprate-container {
	width: 100% !important;
	height:700px !important;
	left: 0% !important;
}


.chart-vendilator-modal .chart-set-four-one {
	width: 40%;
	height: 300px;
	overflow: hidden;
	text-align: left;
	float: left;
} 

.chart-vendilator-modal .chart-set-four-two {
	width: 40%;
	height: 300px;
	overflow: hidden;
	text-align: left;
	left: 10%;
	position: relative;
	float: left;

} 

.chart-vendilator-modal .chart-set-four-three {
	width: 40%;
	height: 300px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
} 

.chart-vendilator-modal .chart-set-four-four {
	width: 40%;
	height: 300px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	left: 10%;
}



/*five start*/

.chart-vendilator-modal .chart-set-five-one {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	float: left;
} 

.chart-vendilator-modal .chart-set-five-two {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	left: 10%;
	position: relative;
	float: left;

} 

.chart-vendilator-modal .chart-set-five-three {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	left: 30%;
} 

.chart-vendilator-modal .chart-set-five-four {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
}

.chart-vendilator-modal .chart-set-five-five {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	left: 10%;
}
/*five end*/

/*five start*/
.chart-vendilator-modal .chart-set-six-one {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	float: left;
} 

.chart-vendilator-modal .chart-set-six-two {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	left: 10%;
	position: relative;
	float: left;

} 

.chart-vendilator-modal .chart-set-six-three {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	
} 

.chart-vendilator-modal .chart-set-six-four {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	left: 10%;
}

.chart-vendilator-modal .chart-set-six-five {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
}

.chart-vendilator-modal .chart-set-six-six {
	width: 40%;
	height: 250px;
	overflow: hidden;
	text-align: left;
	position: relative;
	float: left;
	left: 10%;
}
/*five end*/


.chart-vendilator-modal .modal-footer {
    border: none;
}
.chart-vendilator-modal .chart-fonts-style {
  font-weight: unset;
  font-family: initial;
  font-style: oblique;
}

.amcharts-chart-div > a {
    display: none !important;
}
.vendilator-date-zoomed {
  font-weight: bold;
  font-size: 14px !important;
  margin-right: 10px;
}

.chart-snop{
	height: 40px !important;
    border: 1px solid black;
    text-align: center;
	padding: 11px 8px !important;
	margin: 3px 2px;
	width: 250px;
}

.btn-nurse-observation{
	border-radius: 6px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}





@media screen and (max-width: 575px) {
	.chart-cursor-settings, .join-line-settings {
		top: -8px;
		left: 0px;
	}
}
.card-pf-view.card-pf-view-single-select {
    cursor: pointer;
}
.card-pf-view.card-pf-view-select {
    position: relative;
}
.card-pf-view.card-pf-view-select:hover {
    box-shadow: 0 1px 15px rgba(3,3,3,.45);
}
.card-pf-view.card-pf-view-select:focus, 
.card-pf-view.card-pf-view-select:active, 
.card-pf-view.card-pf-view-select:focus-within, 
.card-pf-view.card-pf-view-select:focus-visible,  
.card-pf-view.card-pf-view-select.active {
    border: 2px solid #838383;
}
.male_baby .card-pf-view.card-pf-view-select:focus, 
.male_baby .card-pf-view.card-pf-view-select:active, 
.male_baby .card-pf-view.card-pf-view-select:focus-within, 
.male_baby .card-pf-view.card-pf-view-select:focus-visible,  
.male_baby .card-pf-view.card-pf-view-select.active {
    border: 2px solid rgb(118, 161, 233);
}
.female_baby .card-pf-view.card-pf-view-select:focus, 
.female_baby .card-pf-view.card-pf-view-select:active, 
.female_baby .card-pf-view.card-pf-view-select:focus-within,
.female_baby .card-pf-view.card-pf-view-select.active,
.female_baby .card-pf-view.card-pf-view-select:focus-visible {
    border: 2px solid #ffb3b3;
}
.card-pf-view {
    border: 2px solid transparent;
}
.card-pf p:first-child
{
  text-transform: capitalize;
}
.card-pf p
{
  font-size: 14px;
}
.card-pf {
    background: #fff !important;
    border-top: 2px solid transparent;
    margin: 20px 10px 20px;
    /*padding: 0 20px;*/
    box-shadow: 0 1px 2px rgb(77, 77, 77);
    border: 2px solid #e1e1e3;
}
.male_baby .card-pf:before
{
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0px;
  left: 0px;
  content: '';
  background-color: rgb(118, 161, 233);
}
.female_baby .card-pf:before
{
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: 0px;
  left: 0px;
  content: '';
  background-color: rgb(255, 179, 179);
}
.card-pf-body {
    margin: 20px 0 0;
    padding: 0 0 20px;
}
.card-pf-view .card-pf-top-element .card-pf-icon-circle {
    border-radius: 50%;
    display: block;
    font-size: 30px;
    height: 80px;
    line-height: 75px;
    margin: 0 auto;
    text-align: center;
    width: 80px;
    border: 2px solid #e1e1e3;
}
.female_baby .card-pf-view .card-pf-top-element .card-pf-icon-circle
{
  border: 2px solid #ffb3b3;
}
.male_baby .card-pf-view .card-pf-top-element .card-pf-icon-circle
{
  border: 2px solid #6e9ce8;
}
.card-pf-view .card-pf-title {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
    text-transform: capitalize;
}
.card-pf-title {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    padding: 0;
}
h1.card-pf-title, h2.card-pf-title, h3.card-pf-title {
    line-height: 1.1;
}
.card-pf-view .card-pf-item {
    display: inline-block;
    font-size: 16px;
    padding: 0 13px 0 15px;
}
.card-pf-view .card-pf-items {
    margin-top: 15px;
}
.card-pf-view .card-pf-item + .card-pf-item {
    border-left: 1px solid #d1d1d1;
}
.card-pf-view .card-pf-info {
    margin-top: 15px;
}
.bed-menu-icon
{
  margin-top: 10px;
}
.card-pf-view-single-select .badge
{
  font-size: 15px;
  margin-top: 10px;
}
.px-0 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.mx-0 {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.overlay {
	position: absolute;
	top: 19px;
	left: 26px;
	width: 93.4%;
	height: 86.3%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
}
.vital-signs-overlay
{
	position: relative;
}
.vital-signs-overlay:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.view-button {
  position: absolute;
  width: 100%;
  left:0;
  top: 112px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.view-button a {
	width: 200px;
	padding: 6px 20px;
	text-align: center;
	color: #fff;
	/*border: solid 2px white;*/
	z-index: 1;
	background: #434468;
	font-size: 16px;
}

.vital-signs-overlay:hover .view-button {
  opacity: 1;
}
.nurse-chart-sheet .baby-info
{
	margin-top: 5px;
	margin-bottom: 10px;
}
.text-white
{
	color: #fff !important;
}
.widget-header h5
{
	font-weight: 600;
	color: #fff !important;
}
.mt-20
{
	margin-top: 20px !important;
}
.widget {
    margin-bottom: 10px;
    padding-bottom: 39px;
}
.pb-0
{
	padding-bottom: 0px !important;
}
.overtext-ventilator
{
	top: 21px !important;
	left: 25px !important;
	width: 93.2%;
	line-height: 15;
}

.vital-signs-overlay:hover .overtext-ventilator
{
}

@media(min-width: 1280px)
{
	.overlay{
		width: 94.6% !important;
	}
}