.ward-manager {
    /*  border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin: 10px 0px;
*/
}

.bed-manager {
    /*border: 1px solid #d9d9d9;
  border-radius: 15px;
  margin: 5px 10px;
  height: 210px;
  position: relative;*/
}

.ward-bed-shadow {
    box-shadow: 5px 1px 8px -3px rgba(0, 0, 0, 0.4);
    border: 10px solid #e1e1e3;
}

.baby-warmer-icons {
    /*max-width: 12%;
  text-align: center;*/
  cursor: move;
}

.bed-frame {
    margin-top: 12px;
    margin-left: -10px;
    margin-bottom: 5px;
}

.custom-col-width {
    /*width: 197px;*/
    /*height: 222px !important;*/
    height: auto !important;
}

.bed-occupied.female-baby {
    color: #4d7496;
    background: #CCE4ED;
    background: -webkit-radial-gradient(center, #CCE4ED, #FFB3B3);
    background: -moz-radial-gradient(center, #CCE4ED, #FFB3B3);
    background: radial-gradient(ellipse at center, #CCE4ED, #FFB3B3);
    border: 10px solid #FFB3B3;
    /*background: #CCE4ED;
  background: -webkit-radial-gradient(top left, #CCE4ED, #FFB3B3);
  background: -moz-radial-gradient(top left, #CCE4ED, #FFB3B3);
  background: radial-gradient(to bottom right, #CCE4ED, #FFB3B3);*/
}

.bed-occupied.male-baby {
    color: #4d7496;
    background: #6e9ce8;
    background: -webkit-radial-gradient(center, #CCE4ED, #6e9ce8);
    background: -moz-radial-gradient(center, #CCE4ED, #6e9ce8);
    background: radial-gradient(ellipse at center, #CCE4ED, #6e9ce8);
    border: 10px solid #6e9ce8;
    /*background: #CCE4ED;
  background: -webkit-radial-gradient(top left, #CCE4ED, #FFB3B3);
  background: -moz-radial-gradient(top left, #CCE4ED, #FFB3B3);
  background: radial-gradient(to bottom right, #CCE4ED, #FFB3B3);*/
}

.bed-available {
    color: #00a6f1;
}

.bed-status.table>tbody>tr>td {
    border: none !important;
    padding: 0px 8px;
    text-transform: capitalize;
    color: #000000;
}


/*.bed-number {
  border: 1px solid;
  padding: 5px 7px;
  border-radius: 16px;
  font-size: 17px !important;
  }*/

  .room-manager div .form-group.text-center {
    width: 24px;
    padding: 2.5px;
    border-radius: 16px;
    border: 1px solid;
    border-radius: 25px;
    /*font-size: 17px !important;*/
    margin: auto;
}

.room-parent>.head-text-set {
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    font-weight: bold;
}

.room-parent {
    /*border: 1px solid #d9d9d9;*/
    margin: 2px 0px;
    display: flex;
    flex-flow: row wrap;
    overflow: visible !important;
    max-height: none !important;
}

.ward-manager>.head-text-set {
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    font-weight: bold;
}

.add-patient-icon {
    position: absolute;
    right: 7px;
    /*top: 10%;*/
    top: 3%;
}

.baby-bed-modal .modal-content {
    border-radius: 20px;
}

.baby-bed-modal .modal-header {
    background-color: transparent;
}

.baby-bed-modal .modal-footer {
    background-color: transparent;
}

.baby-bed-modal .modal-header .close {
    margin-top: -33px;
    font-size: 24px !important;
}

.ward-status {
    list-style: none;
    display: inline-flex;
    font-size: 12px;
    /*font-weight: bold;*/
    margin-bottom: 0px;
    margin-top: 5px;
    color: #fff;
}

.ward-status-icon {
    width: 22px !important;
    height: 25px !important;
}

.ward-status-icon-1 {
    width: 20px !important;
    height: 29px !important;
}

.pull-right.ward-status>li {
    margin: 5px 10px;
}

.pull-right.ward-status>li .ward-status-icon {
    vertical-align: text-top;
}

.pull-right.ward-status>li span {
    vertical-align: middle;
}

.bed-empty {
    text-align: center;
    min-height: 85px;
}

.bed-empty h4 {
    /*height: 122px;
  width: 200px;
  display: table-cell;
  vertical-align: middle;*/
}

.discharge-patient-icon {
    text-align: right;
    left: 80% !important;
    position: relative;
    color: black;
    margin: 0px 0pc;
    padding: 5px 4px;
    position: absolute;
}

.nurse-discharge-menu-1 {
    list-style: none;
    display: none;
    background: gray;
    position: relative;
    z-index: 99999999;
    left: 90%;
    margin: 10px;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.bed-image-size,
.prscription-add {
    display: inline-grid;
    align-content: center;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 30px !important;
    height: 35px !important;
    justify-content: center;
    padding: 6px;
}

.prscription-add {
    /*position: relative;*/
    /*top: -3.5px;*/
}

.image-border-line {
    /*margin-top: 15px;*/
    /*position: absolute;*/
    /*bottom: 16px;*/
}

.baby-pump-table {
    height: 250px !important;
    overflow: scroll;
}

.syringe-pump-list-view th {
    background: #4c7394;
    color: #fff;
}

.header-close {
    margin: 23px 0 !important;
}

.vendilator-image-icons {
    width: 33px !important;
    height: 33px !important;
    padding: 3px;
}

.date-width {
    min-width: 150px;
}

.quartile-width {
    min-width: 100px;
}

.modal-header .close.close-icon {
    margin: 10px;
    font-size: 20px !important;
    color: white;
    opacity: 1;
}

.master-icons {
    border: 1px solid;
    padding: 2px 4px;
    border-radius: 50%;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    background-color: #3968c6;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.ward-baby-management .widget.box .widget-header {
    /*  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 6px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 20px;*/
  border-radius: 6px;
  position: sticky;
  top: 0px;
  z-index: 6;
}

.ward-baby-management select.form-control {
    margin-top: 3px;
}

.ward-baby-management .table-view-shadow {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 9px;
}

#baby-pump-table {
    height: 250px !important;
    overflow: scroll;
}

#baby-infusion-table {
    height: 250px !important;
    overflow: scroll;
}

.room-manager .border-right {
    border-right: 1px solid;
}

.room-manager .border-left {
    border-left: 1px solid;
}

.custom-width {
    width: 33.33%
}

@media (max-width: 480px) {
    .crumbs .ward-status {
        display: none;
    }
    .room-manager div .form-group.text-center {
        width: 21px;
        font-size: 9px !important;
    }
    .flex-box,
    .room-parent,
    .room-manager {
        padding: 0px;
    }
    .image-border-line {
        padding: 0px 10px 8px 10px !important;
    }
    .flex-box {
        margin-top: 15px;
    }
}

.bed-number:before {
    position: absolute;
    content: '';
    top: -7px;
    left: -13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px #434468;
}

.bed-number-2-digits:before {
    position: absolute;
    content: '';
    top: -7px;
    left: -8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px #434468;
}

.bed-number,
.bed-number-2-digits {
    font-size: 20px;
    position: relative;
    color: #444;
    text-align: center
}

.btn-edit-baby {}

.btn-edit-baby i {}

.add-patient-icon i {
    font-size: 30px;
}

.room-manager .col-xs-3 {
    margin-bottom: 20px;
}

.image-border-line div:hover {
    color: #434468 !important;
}

.image-border-line div {
    /*display: inline-block;*/
    /*margin-bottom: 10px;*/
}

.image-border-line>* {
    margin-left: 10px;
    align-content: center;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 36px !important;
    height: 36px !important;
    justify-content: center;
    display: inline-grid;
    vertical-align: middle;
    margin-top: 10px;
}

.image-border-line {
    /*top: 10px;*/
    /*left: 10px;*/
    padding: 15px 30px 10px 30px;
    text-align: center;
}

.room-manager {
    margin-bottom: 15px;
}

.btn-edit-baby .fa-pencil {}

.discharge-patient {
    /*position: absolute;
    right: 7px;
    top: 4%;
    right: 7px;
    border-radius: 50%;
    padding: 4px 6px;
    background: #4d7496;
    color: #fff;*/
}

.discharge-patient .fa-times {
    padding-top: 3px;
    font-size: 18px;
}

.baby-info-nav-bar {
    list-style-type: none;
}

@media (max-width: 938px) {
    .bed-manager {
        /*height: 280px !important;*/
    }
    .tooltip {
        display: none !important;
    }
}

.flex-box {
    height: 100% !important;
}

.patient-menu {
    position: absolute;
    top: 37%;
    right: 6px;
    background: #4d7496;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.bed-managerr .nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
    border-color: transparent;
}

.bed-managerr .nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.bed-managerr .navbar-nav>li:first-child>a {
    padding: 6px !important;
    color: #5e5a5a !important;
    padding-top: 8px !important;
    font-size: 15px !important;
}

.bed-managerr .dropdown-menu {
    top: 75%;
    left: -217px;
    min-width: 250px;
    padding: 0px;
}

.bed-managerr .dropdown-menu li a {
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #4444442e;
    padding-right: 10px;
    line-height: 1;
}

.bed-managerr .dropdown-menu li a i {
    font-size: 16px;
}

.bed-managerr .dropdown ul.dropdown-menu::before {
    content: "";
    border-bottom: 10px solid #444444;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 10;
}

.bed-managerr .nicu-ward-menu>li:first-child>a,
.bed-managerr .nicu-ward-menu>li:first-child>a:hover {
    background-color: unset !important;
    border-radius: unset !important;
    margin-right: unset !important;
}

@media (max-width: 576px) {
    .crumbs .ward-status {
        display: none;
    }
    .patient-menu {
        position: absolute;
        top: 37%;
        right: 20px;
    }
    .bed-managerr .navbar-nav>li:first-child>a {
        font-size: 20px;
    }
}

@media (max-width: 568px) {
    .prscription-add {
        top: -6.5px;
    }
    .patient-menu {
        position: absolute;
        top: 37%;
        right: 20px;
    }
    .bed-manager .navbar-nav>li:first-child>a>span {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .room-parent>div {
        padding-left: 0px !important;
        flex-basis: 98%;
    }
    .bed-managerr .navbar-nav>li:first-child>a {
        padding: 7px !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 568px) {
    .room-manager div .form-group.text-center {
        width: 23px;
        padding: 3.5px;
    }
    .patient-menu {
        position: absolute;
        top: 37%;
        right: 20px;
    }
    .bed-manager .patient-menu>li:first-child>a span {
        /*font-size: 15px !important;*/
    }
    .bed-manager .navbar-nav>li:first-child>a {
        /*padding: 7px !important;*/
    }
}

@media screen and (min-width: 569px) and (max-width: 823px) {
    .room-manager div .form-group.text-center {
        width: 25px;
        font-size: 12px !important;
        padding: 3px;
    }
    .flex-box {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .pull-right.ward-status {
        padding-left: 0px;
    }
    .pull-right.ward-status>li {
        margin: 10px 0px;
        font-size: 8px;
    }
    .pull-right.ward-status>li:last-child {
        margin: 10px 5px;
    }
    .flex-box {
        margin-top: 15px;
    }
    .bed-manager .navbar-nav>li:first-child>a {
        /*padding: 7px !important;*/
    }
    .bed-number::before {
        position: absolute;
        content: '';
        top: -7px;
        left: -12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px #434468;
    }
    .bed-number-2-digits::before {
        position: absolute;
        content: '';
        top: -7px;
        left: -7px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px #434468;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .pull-right.ward-status>li {
        font-size: 10px;
    }
    .flex-box {
        margin-top: 15px;
    }
    .bed-number::before {
        position: absolute;
        content: '';
        top: -7px;
        left: -12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px #434468;
    }
    .bed-number-2-digits::before {
        position: absolute;
        content: '';
        top: -7px;
        left: -7px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px #434468;
    }
}

@media only screen and (min-width: 1024px) {
    .room-manager div .form-group.text-center {
        padding: 2px;
    }
    .flex-box {
        margin-top: 15px;
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 1220px) {
    .room-manager {
        float: unset;
    }
    .flex-box {
        margin-top: 15px;
        flex-basis: 49%;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background-color: white;
    }
    .bed-number::before {
        position: absolute;
        content: '';
        top: -7px;
        left: -12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px #434468;
    }
    .bed-number-2-digits::before {
        position: absolute;
        content: '';
        top: -9px;
        left: -9px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px #434468;
    }
}

@media (max-width: 1048px) {
    #search_form {
        left: 70% !important;
    }
}

@media (max-width: 768px) {
    #search_form {
        left: 50% !important;
    }
}

.bed-managerr .dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
    background: #434468;
    color: #fff;
    filter: none;
}

.card-pf-view.card-pf-view-single-select {
    cursor: pointer;
}

.card-pf-view.card-pf-view-select {
    position: relative;
}

.card-pf-view.card-pf-view-select:hover {
    box-shadow: 0 1px 15px rgba(3, 3, 3, .45);
}

.card-pf {
    background: #fff;
    /*border-top: 2px solid transparent;*/
    margin: 20px 10px 20px;
    padding: 0px 20px 20px;
    box-shadow: 0 0px 0px 2px rgb(225, 225, 227);
    /*border: 2px solid #e1e1e3;*/
}

.male_baby .card-pf:before {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0px;
    left: 0px;
    content: '';
    background-color: rgb(118, 161, 233);
}

.female_baby .card-pf:before {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0px;
    left: 0px;
    content: '';
    background-color: rgb(255, 179, 179);
}

.card-pf-view.card-pf-view-select:focus,
.card-pf-view.card-pf-view-select:active,

/*
.card-pf-view.card-pf-view-select:focus-within, 
.card-pf-view.card-pf-view-select:focus-visible,  */

.card-pf-view.card-pf-view-select.active {
    box-shadow: 0px 0px 0px 3px #838383 inset;
    /*border: 2px solid #838383 !important;*/
}

.male_baby .card-pf-view.card-pf-view-select:focus,
.male_baby .card-pf-view.card-pf-view-select:active,

/*
.male_baby .card-pf-view.card-pf-view-select:focus-within, 
.male_baby .card-pf-view.card-pf-view-select:focus-visible, */

.male_baby .card-pf-view.card-pf-view-select.active {
    /*border: 2px solid rgb(118, 161, 233) !important;*/
    box-shadow: 0px 0px 0px 3px rgb(118, 161, 233) inset;
}

.female_baby .card-pf-view.card-pf-view-select:focus,
.female_baby .card-pf-view.card-pf-view-select:active,

/*.female_baby .card-pf-view.card-pf-view-select:focus-within,
.female_baby .card-pf-view.card-pf-view-select:focus-visible, */

.female_baby .card-pf-view.card-pf-view-select.active {
    /*border: 2px solid #ffb3b3 !important;*/
    box-shadow: 0px 0px 0px 3px #ffb3b3 inset;
}


/*.card-pf-view {
    border: 2px solid transparent;
    }*/

    .card-pf p:first-child {
        text-transform: capitalize;
    }

    .card-pf p {
        font-size: 14px;
    }

    .card-pf-body {
        margin: 20px 0 0;
        padding: 0 0 20px;
    }

    .card-pf-view .card-pf-top-element .card-pf-icon-circle {
        border-radius: 50%;
        display: block;
        font-size: 30px;
        height: 80px;
        line-height: 75px;
        margin: 0 auto;
        text-align: center;
        width: 80px;
        border: 2px solid #e1e1e3;
    }

    .female_baby .card-pf-view .card-pf-top-element .card-pf-icon-circle {
        border: 2px solid #ffb3b3;
    }

    .male_baby .card-pf-view .card-pf-top-element .card-pf-icon-circle {
        border: 2px solid #6e9ce8;
    }

    .card-pf-view .card-pf-title {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0;
        margin-top: 15px;
        text-transform: capitalize;
    }

    .card-pf-title {
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0;
        padding: 0;
    }

    h1.card-pf-title,
    h2.card-pf-title,
    h3.card-pf-title {
        line-height: 1.1;
    }

    .card-pf-view .card-pf-item {
        display: inline-block;
        font-size: 16px;
        padding: 0 13px 0 15px;
    }

    .card-pf-view .card-pf-items {
        margin-top: 15px;
    }

    .card-pf-view .card-pf-item+.card-pf-item {
        border-left: 1px solid #d1d1d1;
    }

    .card-pf-view .card-pf-info {
        margin-top: 15px;
    }

    .bed-menu-icon {
        margin-top: 10px;
    }

    .card-pf-view-single-select .badge {
        font-size: 15px;
        margin-top: 10px;
    }


/*.card-pf-view-single-select .badge
{
  font-size: 20px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 20px;
}
.room-badge
{
  position: absolute;
  top: 19%;
  left: 0px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0% !important;
  padding: 10px !important; 
  background: #009688;
  font-size: 16px !important;
  }*/


/* .male_baby .card-pf:hover::before, 
  .female_baby .card-pf:hover::before, 
  .card-pf:hover::before {
    bottom: -2px !important;
    }*/

    .bed-manager:hover::before {
        bottom: -2px !important;
    }

    .bed-transfer-restricted {
    /*width: 40px !important;
  height: 40px !important;*/
}

.bed-frame {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.bed-frame:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(0, 0, 0);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}


/*.card-pf-view-single-select:hover .bed-frame{
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}*/


/*
.bed-frame:hover i {
    color: #fff;
}
.bed-frame:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
    }*/

    .card-pf-view-single-select:hover .bed-frame {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-box-shadow: 1px 1px 5px 1px black;
        -moz-box-shadow: 1px 1px 5px 1px black;
        box-shadow: 1px 1px 5px 1px black;
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
    }

    .female_baby .card-pf-view-single-select:hover .bed-frame {
        -webkit-box-shadow: 1px 1px 5px 1px #ffb7b7;
        -moz-box-shadow: 1px 1px 5px 1px #ffb7b7;
        box-shadow: 1px 1px 5px 1px #ffb7b7;
    }

    .male_baby .card-pf-view-single-select:hover .bed-frame {
        -webkit-box-shadow: 1px 1px 5px 1px #7ba5ea;
        -moz-box-shadow: 1px 1px 5px 1px #7ba5ea;
        box-shadow: 1px 1px 5px 1px #7ba5ea;
    }

    .bed-frame {
        transition: all .6s ease-in-out;
        -webkit-transition: all .6s ease-in-out;
        -moz-transition: all .6s ease-in-out;
        -ms-transition: all .6s ease-in-out;
        -o-transition: all .6s ease-in-out;
    }

    @keyframes alert {
        0% {
            transform: scale(0);
        }
        80% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    #search_form {
        transition: all 0.15s;
    }

    #search_form.explode {
        transform: scale(1.4);
        opacity: 0;
    }

    #search_form {
        width: 26px;
        height: 36px;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: 2px;
        left: 82.2%;
    }

    #search_form input[type="submit"] {
        display: none !important;
    }

    #search_form input {
        width: 60%;
        height: 20px;
    }

    #search_form input {
        background: none;
        border: 3px solid #fff;
        border-radius: 26px;
        box-sizing: border-box;
        padding: 0px 8px 0px !important;
        font-size: 14px;
        color: #444;
        z-index: 2;
        position: relative;
    }

    #search_form input:focus {
        outline: none;
    }

    .after {
        width: 36px;
        height: 36px;
        position: absolute;
        top: -4px;
        right: 0;
        z-index: 1;
    }

    #search_form.search-open .after {
        cursor: pointer;
    }

    .after:before,
    .after:after {
        content: '';
        width: 13px;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        position: absolute;
        transform-origin: 100% 100%;
    }

    .after:after {
        bottom: 6px;
        right: 1px;
        transform: rotate(45deg);
    }

    .after:before {
        top: -3px;
        right: -3px;
        transform: rotate(-45deg);
        opacity: 0;
    }

    #search_form,
    #search_form .after,
    #search_form .after:before,
    #search_form .after:after {
        animation-duration: 1.1s;
        animation-fill-mode: forwards;
    }

    #search_form.search-in {
        animation-name: expand;
    }

    #search_form.search-in .after:before {
        animation-name: beforemagic;
    }

    #search_form.search-in .after:after {
        animation-name: aftermagic;
    }

    #search_form.close,
    #search_form.close .after,
    #search_form.close .after:before,
    #search_form.close .after:after {
        animation-direction: reverse;
    }

    #search_form.close {
        animation-name: expand;
    }

    #search_form.close .after:before {
        animation-name: beforemagic;
    }

    #search_form.close .after:after {
        animation-name: aftermagic;
    }


/* Hold final focused state
****************************/

    #search_form.search-open {
        width: 250px;
        color: #fff;
    }

    #search_form.search-open .after {
        z-index: 3;
    }

    #search_form.search-open .after:before {
        width: 20px;
        top: 9px;
        right: 13px;
        opacity: 1;
        search-
    }

    #search_form.search-open .after:after {
        width: 20px;
        bottom: 10px;
        right: 15px;
    }

    @keyframes aftermagic {
        0% {}
        10% {
            width: 24px;
            bottom: -10px;
            right: -10px;
        }
        15% {
            opacity: 1;
        }
        35% {
            width: 13px;
            bottom: -3px;
            right: -3px;
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        64% {
            opacity: 0;
        }
        65% {
            opacity: 1;
            width: 13px;
            bottom: -2px;
            right: -3px;
        }
        75% {
            width: 30px;
            bottom: 4px;
            right: 10px;
        }
        90% {
            width: 20px;
            bottom: 10px;
            right: 15px;
        }
        100% {
            width: 20px;
            bottom: 10px;
            right: 15px;
        }
    }

    @keyframes beforemagic {
        0% {}
        50% {
            opacity: 0;
        }
        55% {
            opacity: 1;
            width: 13px;
            top: -4px;
            right: -3px;
        }
        65% {
            width: 30px;
            top: 6px;
            right: 10px;
        }
        80% {
            width: 20px;
            top: 9px;
            right: 13px;
        }
        100% {
            width: 20px;
            top: 9px;
            right: 13px;
            opacity: 1;
        }
    }

    @keyframes expand {
        0% {
            color: transparent;
        }
        20% {
            width: 36px;
        }
        45% {
            width: 250px;
        }
        99% {
            color: transparent;
        }
        100% {
            width: 250px;
            color: #fff;
        }
    }

    #search_form:after {
        position: absolute;
        content: '';
        background-color: #33a6c7;
        top: -4px;
        left: -8px;
        padding: 16px 20px;
        transition-delay: 2s all;
    }

    .search-in:after,
    .search-open:after {
        background-color: transparent !important;
    }

    .search-in input,
    .search-open input {
        border-color: #33a5c6 !important;
        width: 100% !important;
        height: 30px !important;
    }

    .search-in .after:after,
    .search-open .after:after,
    .search-in .after:before,
    .search-open .after:before {
        background-color: #ef4444;
    }


/*.widget.box .widget-content.no-padding .row::-webkit-scrollbar,
.widget.box .widget-content.no-padding .row::-moz-scrollbar {
  display: none;
  }*/

  .d-none {
    display: none !important;
}

.badge-success {
    background: #3ea53e;
}

.badge-danger {
    background: #e84b4b;
}

.btn-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 18px;
    padding: 0px;
    box-shadow: 0px 0px 4px #424141 !important;
    margin: 10px 5px;
}

.room_filter_container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

.add-patient {
    z-index: 1 !important;
}

.room_filter_container ul.dropdown-menu {
    min-width: 200px !important;
    padding-left: 5px !important;
    padding-right: 6px !important;
    background-color: #fbf6f9 !important;
    top: -10px;
    left: -197px;
    /*overflow-x: hidden;*/
    overflow-y: inherit !important;
}

.room_filter_container .dropdown-menu:before {
    content: '';
    position: absolute;
    left: 101%;
    z-index: -1;
    width: 28px;
    height: 28px;
    background-color: #fbf6f9;
    border-right: 2px solid #4444446b;
    border-bottom: 2px solid #4444446b;
    transform: rotate(-45deg) translate(-14px, -7px);
    top: 15px;
}

.room_filter_container ul ul li {
    display: inline-block;
}

.text-success {
    color: #51a351;
}

.text-normal {
    color: #555;
}

.text-error {
    color: red !important;
}

.search-box {
    position: relative;
    float: right;
}

.input-search {
    height: 30px;
    width: 30px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff !important;
}

.input-search::placeholder {
    color: rgba(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
    font-size: 14px;
    background-color: #1e1e2d !important;
}

.btn-search {
    width: 30px;
    height: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    color: #ffffff !important;
    background-color: #1e1e2d;
    pointer-events: painted;
}

.input-search.open-search {
    width: 300px;
    border-radius: 0px;
    background-color: #1e1e2d;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: #1e1e2d;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    color: #fff !important;
}

.dropdown-menu-chart {
    display: none;
    list-style: none;
    padding: 0px;
}

.dropdown-menu-chart a {
    width: 100%;
    padding: 3px 40px;
    display: block;
    text-decoration: none;
    color: #333;
}

.bed-managerr .dropdown-menu-chart>li>a:hover,
.dropdown-menu-chart>li>a:focus {
    background: #434468;
    color: #fff;
    filter: none;
}

.ward-baby-management .navbar-nav>li>.dropdown-menu {
    max-height: unset !important;
}


.connection-error {
    background: rgb(255 82 82 / 0.1);
    border: 3px solid red;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
    z-index: 1;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.bed-transfer-restricted.hovering {
    position: relative;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    transition: all ease-in-out 0.1s;
}

.bed-transfer-restricted.hovering::before {
    content: 'Admit Here';
    position: absolute;
    z-index: 99;
    background-color: red;
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: auto;
    padding: 20px 30px;
}

.not-started {
    border: 1px solid red;
    padding: 1px 8px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: default;
}

.not-started.active {
    background-color: red;
}

.partial {
    border: 1px solid #ffb346;
    padding: 1px 8px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: default;
}

.partial.active {
    background-color: #ffb346;
}

.completed {
    border: 1px solid green;
    padding: 1px 8px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: default;
}

.completed.active {
    background-color: green;
}

.bed-managerr .navbar-nav>li:first-child>a>.fas.fa-ellipsis-v {
    float: right;
}

.pump-status-block:not(.hide) a {
    position: relative;
    display: inline-block;
    top: -10px;
    margin-left: 10px;
}

#arrowAnim {
    /*width: 50px;*/
}

.pump-status-block.text-success .arrow, .pump-status-block.text-danger .arrow {
    width: 10px;
    height: 10px;
    border: 2.5px solid;
    transform: rotate(-45deg);
}

.pump-status-block.text-success .arrow {
    border-color: #5eaf5e transparent transparent #5eaf5e;    
}

.pump-status-block.text-danger .arrow {
    border-color: #d92550 transparent transparent #d92550;    
}

.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;
}

.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }

    20% {
        opacity: 1;
        transform: translateX(9px);
    }

    80% {
        opacity: 1;
        transform: translateX(-9px);
    }

    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }

    20% {
        opacity: 1;
        transform: translateX(9px);
    }

    80% {
        opacity: 1;
        transform: translateX(-9px);
    }

    100% {
        opacity: 0;
        transform: translateX(-15px);
    }
}


/*Responsive*/
body {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}
.bed-manager {
    max-width: 440px;
}
#container, #container #content, #container > #content > .container, .ward-baby-management, .ward-baby-management > .col-md-12, .ward-baby-management > .col-md-12 > .widget.box, .ward-baby-management > .col-md-12 > .widget.box > .widget-content, .ward-baby-management > .col-md-12 > .widget.box > .widget-content > .tabbable, .ward-baby-management > .col-md-12 > .widget.box > .widget-content > .tabbable > .tab-content, .ward-baby-management > .col-md-12 > .widget.box > .widget-content > .tabbable > .tab-content > .tab-pane.active:not(#search_results_mrn), .ward-baby-management > .col-md-12 > .widget.box > .widget-content > .tabbable > .tab-content > .tab-pane.active:not(#search_results_mrn) > .col-md-12.col-sm-12  {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#container #content {
/*    margin-top: 0px;*/
}
.widget {
    margin-bottom: 0px;
}
.search-box {
    position: absolute;
    right: 0px;
    z-index: 3;
}
.ward-baby-management > .col-md-12 > .widget.box > .widget-content > .tabbable > .tab-content > .tab-pane.active:not(#search_results_mrn) > .col-md-12.col-sm-12 > .tab-content-row {
    overflow-y: unset;
    max-height: unset;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.crumbs {
    background: transparent;
}

#search_results_mrn {
    min-height: unset !important;
    overflow: auto;
}
