body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.print .container {
    display: inline-block;
}
body.print > .row {
    display: grid;
}

.print-head {
    margin-top: 5px;
    margin-bottom: 10px;
}

#wt-container, #ht-container, #hc-container, #bmi-container {
    width: 992px;
    /*height: 670px;*/
    height: 650px;
    page-break-inside: avoid;
}
#wt-chart-container, #ht-chart-container, #hc-chart-container, #bmi-chart-container {
    max-width: 100%;
    /*height: 570px;*/
    height: 550px;
    margin-top: 5px;
    page-break-inside: avoid;
}

.chart-title {
    font-size: 34px;
    font-weight: bold;
}

.left-spacing {
    padding-left: 100px;
}

.underline {
    display: block;
}

.theme-male .chart-title {
    color: #2F97DA !important;
}

.theme-male .underline {
    border-top: 1px solid #2F97DA;
}

.theme-female .chart-title {
    color: #E65EB6 !important;
}

.theme-female .underline {
    border-top: 1px solid #E65EB6;
}

.chart-title-1 {
    color: black;
    font-size: 20px;
}

#wt-chart-text, #ht-chart-text, #hc-chart-text, #bmi-chart-text {
    width: 100%;
}

.plr-0 {
    padding-left: 0px;
    padding-right: 0px;
}
  
.chart-headings > h4:last-child {
    margin: 0px;
}

@page {
    margin: 1cm 0.7cm 0 0;
}

@page:first {
    margin-top: 0cm;
}


@media print {
    body.print .container {
        width: 100% !important;
    }
}

@media screen and (max-width: 960px) {
    body.print .container {
        display: inline-table;
        width: 100% !important;
    }
    .chart-title {
        font-size: 24px;
    }
    .chart-title-1 {
        font-size: 16px;
    }
    img {
        width: 120px;
        height: 35px;
    }
}
